.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin-top: 15px;
    margin-left: -70px;
}

.card img{
    width: 100%;
    height:fit-content;
    border-radius: 10px;
}

.card h2{
    font-size:16px;
    font-weight:600;
    color:var(--text-color);
    margin:5px 0;
}

.card h3{
    font-size:14px;
    font-weight:600;
    color:var(--secondary-text);
    margin:6px 0;
}

.card p{
    font-size: 14px;
    color:var(--secondary-text);

}

@media (max-width: 480px) {
  .feed {
    margin-left: 0;
    grid-column-gap: 20px;
  }
}

