.home-layout {
    display: flex;
}

.container {
    background: #f9f9f9;
    padding-left: 10%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%; 
}

.large-container {
    padding-left: 7%;
}


