nav{
    padding: 10px 2%;
    justify-content:space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: var(--card-bg);
    position:sticky;
    top:0;
    z-index: 10;
}

.nav-left .menu-icon{
    width:30px;
    margin-right:40px;
}

.nav-left .logo{
    width:80px;
}

.nav-middle .searchbox{
    border: 1px solid #000;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius:25px;
}

.nav-middle .searchbox input{
    width:400px;
    border: 10px;
    outline: 0;
    background: transparent;

}

.nav-middle .searchbox img{
    width: 20px;
}

.nav-right img{
    width:30px;
    margin-right: 25px;
}

.nav-right .profile-icon{
    width:50px;
    border-radius: 50%;
}

.dark-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
  color: var(--text-color);
}
