.search-page {
  padding: 20px;
}

.search-card {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.search-card img {
  width: 300px;
  border-radius: 10px;
}

.search-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
